/* 汎用 */
.right{
    background-color: rgb(242, 212, 212);
}
.left{
    background-color: #faffff;
}
/* ヘッダー */
header {
    background-color: bisque;
    height: 100px;
}

/* メイン */
main{
    display: grid;
	grid-template-columns:  1fr 150px;
    height: 5vh;
    justify-items: center;
}

/* スライド */
.slide-img{
    width:80%;
    margin: 0 auto;
}

.h{
    font-family: Noto Sans JP;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.05em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.p{
    font-family: Noto Sans JP;
font-size: 14px;
font-weight: 400;
line-height: 25.2px;
letter-spacing: 0.05em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.MUimg{
    width: 880px;

}

/* 目次 */

/* 流れ */

/* mu */

/* もくもく */

/* さばり */

/* ふったー */
footer {
    background-color: antiquewhite;
    height: 100px;
}

.mu-container{
    background-color: burlywood;
    text-align: center;
    width: 980px;
    border-radius: 20px;
    margin-top: 40px;
}

.mokumoku-container{
    background-color: burlywood;
    text-align: center;
    width: 980px;
    border-radius: 20px;
    margin-top: 40px;
}

.kadasapo-container{
    background-color: burlywood;
    text-align: center;
    width: 980px;
    border-radius: 20px;
    margin-top: 40px;
}

.event-container{
    background-color: burlywood;
    text-align: center;
    width: 980px;
    border-radius: 20px;
    margin-top: 40px;
}